.bottom .option {
    width: 20%;
    height: 4rem;
    float: left;
    margin-top: 0;
    transition: all .2s ease;
    background: var(--option-background);
    border: solid 1px var(--option-border);
    border-bottom: none;
    border-left: none;
    text-align: center;
}

.bottom .selected {
    margin-top: -0.4rem;
    height: 4.4rem;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-top: .4rem;
}

.bottom .icon{
    height: 2rem;
    width: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: .95rem;
    background-color: var(--option-content);
}
