.top, .frame, .bottom {
    width: 100%;
}

.top {
    background: var(--top-background);
    height: 4rem;
    text-align: center;
    padding: 1rem;
    position: fixed;
}

.frame {
    background: var(--content-background);
    position: fixed;
    height: calc(100vh - 8rem);
    overflow-y: scroll;
    overflow-x: hidden;
    top:4rem;
}

.nonav {
    height: calc(100vh - 4rem);
}

.bottom {
    bottom: 0;
    position: fixed;
    height: 4rem;
    text-align: center;
}

.menu {
    background: var(--menu-background);
    width: 15rem;
    height: calc(100vh - 1px + 1px);
    position: absolute;
    z-index: 9999;
    top: 4rem;
    transition: left .2s ease;
    left: -80vw;
}

.dimmer {
    transition: opacity .3s ease;
}