* {
    box-sizing: border-box;
}

:root {
    --top-background: #4fb445;
    --top-content: #fff;

    --menu-background: #fff;

    --content-background: #fff;

    --item-active: rgba(79, 180, 69, 0.81);
    --item-active-content: #fff;

    --option-background: #4fb445;
    --option-border: #00000055;
    --option-content: #fff;
}

body {
    background: #000;
    font-family: Arial, sans-serif;
    margin: 0;
    overflow-y: hidden;
}