.frame .content {
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--content-background);
    z-index: -1;
    opacity: 0;
    transition: opacity .35s ease;
    overflow-y: scroll;
}

.frame .selected{
    opacity: 1;
    z-index: 1;
}


