.active {
    opacity: 0.5;
}

.opened {
    left: 0;
}

.menu .item {
    height: 4rem;
    transition: background-color .3s ease;
    border-bottom: solid 1px #ccc;
}

.menu .item:active, .menu .selected {
    background: var(--item-active);
    color: var(--item-active-content);
}

.menu .selected .icon {
    background-color: var(--item-active-content);
}

.menu .icon {
    height: 2rem;
    width: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    float: left;
    background-color: #000;
}

.menu .name {
    float: left;
    height: 2rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-left: .5rem;
}