.top #menu-toggle {
    float: left;
    height: 2rem;
    width: 2rem;
    top: .95rem;
    left: 1rem;
    position: absolute;
    mask: url("../img/bars.svg") no-repeat center;
    -webkit-mask: url("../img/bars.svg") no-repeat center;
    background-color: var(--top-content);
}

.top #title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--top-content);
}