<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="css/configs.css" rel="stylesheet">
<link href="css/boxes.css" rel="stylesheet">
<link href="css/menu.css" rel="stylesheet">
<link href="css/top.css" rel="stylesheet">
<link href="css/frame.css" rel="stylesheet">
<style>
    .icon {
        -webkit-mask: url("img/box64x64.png") no-repeat center;
        mask:url("img/box64x64.png") no-repeat center;
    }
</style>

<div class="menu">
    <div class="item selected" data-url="without.html">
        <div class="icon"></div>
        <div class="name">Without Bottom </div>
    </div>
    <div class="item" data-url="with.html">
        <div class="icon"></div>
        <div class="name">With Bottom </div>
    </div>
</div>

<div class="top">
    <div id="menu-toggle"></div>
    <span id="title">Without Bottom Nav</span>
</div>

<div class="dimmer">
    <div class="frame nonav">

    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/menu.js"></script>