<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="css/configs.css" rel="stylesheet">
<link href="css/boxes.css" rel="stylesheet">
<link href="css/menu.css" rel="stylesheet">
<link href="css/top.css" rel="stylesheet">
<link href="css/frame.css" rel="stylesheet">
<link href="css/bottom.css" rel="stylesheet">
<style>
    .icon {
        -webkit-mask: url("img/box64x64.png") no-repeat center;
        mask:url("img/box64x64.png") no-repeat center;
    }
</style>

<div class="menu">
    <div class="item" data-url="without.html">
        <div class="icon"></div>
        <div class="name">Without Bottom </div>
    </div>
    <div class="item selected" data-url="with.html">
        <div class="icon"></div>
        <div class="name">With Bottom </div>
    </div>
</div>

<div class="top">
    <div id="menu-toggle"></div>
    <span id="title">With Bottom Nav</span>
</div>

<div class="dimmer">
    <div class="frame">
        <div id="1" class="content">1</div>
        <div id="2" class="content">2</div>
        <div id="3" class="content">3</div>
        <div id="4" class="content">4</div>
        <div id="5" class="content selected">5</div>
    </div>

    <div class="bottom">
        <div data-id="1" class="option">
            <div class="icon"></div>
        </div>
        <div data-id="2" class="option">
            <div class="icon"></div>
        </div>
        <div data-id="3" class="option">
            <div class="icon"></div>
        </div>
        <div data-id="4" class="option">
            <div class="icon"></div>
        </div>
        <div data-id="5" class="option selected">
            <div class="icon"></div>
        </div>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/menu.js"></script>
<script src="js/options.js"></script>